<div class="container">

  <h1>My favorite quotes</h1>
  <hr>
    <div class="quote1">
      <div class="quote">
      <ul>
        <li *ngFor='let quote of quotes;let i = index'>
         {{quote.name}}
        
            
         <button (click)='toggleDetails(i)' class="btn btn-primary">Toggle Details</button>
          <app-qoute-details *ngIf='quote.showDescription' [quote]='quote' (isComplete)='completeQuote($event,i)' ></app-qoute-details>
   
               <!-- <button (click)='toggleDetails(i)'>Toggle Details</button> -->
          </li>
            </ul>
             
            </div>
        
        <app-forms>(addQuote)="addNewQuote($event)"</app-forms>
        
      
   </div>
   </div>

