
<div class="container">
<div class="head">
  <h1>Revolutionary-Quotes</h1>
  The most important kind of freedom is to be what you really are. You trade in your reality for a role.
</div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <ul>
        <li *ngFor='let quote of quotes;let i = index'>
         {{quote.name}}
        
            
         <button (click)='toggleDetails(i)' class="btn btn-primary">Show-Details</button>
          <app-qoute-details *ngIf='quote.showDescription' [quote]='quote' (isComplete)='completeQuote($event,i)' ></app-qoute-details>
   
          </li>
            </ul>
             
            </div>
            <div class="col-md-6">
              <div class="quote">
        <app-forms (addQuote)="addNewQuote($event)"></app-forms>
      </div>
        </div>
      
   </div>
   </div>

